doctype html
html
  head
    title= title
    link(href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
    script(src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js",  crossorigin="anonymous")
    script(src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js",  crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    block content
